name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup Docker-compose
      run: docker compose up -d
    - name: Run Test
      run: docker exec backend sh -c "pytest ."
  
